<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your e-mail id" required>
    <br><br>
    <input type="password" name="password" placeholder="Your password" required>
    <br><br>
    <input type="submit" value="Login">
</form>
<br>