#feed-posts{
    #new-post-form{
        textarea{
            padding: 10px;
        }
    }
}

#posts-list-container{
    li{
        margin-left: 100px;
        h3{
            display: inline-block;
            text-align: left;
            margin-left: -900px;
            margin-right: 500px;
            margin-bottom: 0;
        }
        a{
            padding: 3px;
            border-radius: 4px;
            background-color: red;
            color: white;
        }
        p{
            text-align: center;
            width: 50%;
            height: 20vh;
            padding: 15px;
            border: 2px solid black;
            border-radius: 5px;
        }

        .post-comment{
            width: 60%;
            // margin-left: 5px;
            // text-align: left;

            input[type=text]{
                width: 40%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
            }

            input[type=submit]{
                margin-left: 200px;
            }
        }

        .post-comments-list{
            h4{
                margin-left: -400px;
            }

            p{
                display: inline-block;
                text-align: left;
                width: 40%;
                height: 10%;
                border: none;
                background-color: lightsalmon;
                margin-left: -100px;
            }
        }
    }

}