#posts-list-container{
    li{
        h3{
            text-align: left;
        }
        p{
            width: 20%;
            height: 10vh;
            border: 2px solid black;
            border-radius: 5px;
        }
    }
}