header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #505ce3; }
  header h2 {
    color: lightgrey;
    font-size: 200%;
    margin-left: 15px;
    margin-top: 10px; }
  header ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px; }
    header ul li a {
      text-decoration: none;
      color: white;
      font-size: 140%; }
