#feed-posts h2 {
  text-align: center; }

#feed-posts #new-post-form textarea {
  padding: 10px; }

#posts-list-container li {
  margin-left: 100px; }
  #posts-list-container li h3 {
    display: inline-block;
    text-align: left;
    margin-left: -200px;
    margin-right: 65%;
    margin-bottom: 0; }
  #posts-list-container li a {
    padding: 3px;
    border-radius: 4px;
    background-color: red;
    color: white; }
  #posts-list-container li p {
    text-align: center;
    width: 80%;
    height: 30vh;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px; }
  #posts-list-container li .post-comment input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; }
  #posts-list-container li .post-comment input[type=submit] {
    margin-left: 200px; }
  #posts-list-container li .post-comments-list {
    text-align: right; }
    #posts-list-container li .post-comments-list h4 {
      text-align: center; }
    #posts-list-container li .post-comments-list p {
      display: inline-block;
      text-align: left;
      width: 40%;
      height: 10%;
      border: none;
      background-color: lightsalmon;
      margin-right: 100px; }
