#feed-posts #new-post-form textarea {
  padding: 10px; }

#posts-list-container li {
  margin-left: 100px; }
  #posts-list-container li h3 {
    display: inline-block;
    text-align: left;
    margin-left: -900px;
    margin-right: 500px; }
  #posts-list-container li a {
    padding: 3px;
    border-radius: 4px;
    background-color: red;
    color: white; }
  #posts-list-container li p {
    width: 40%;
    height: 20vh;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px; }
  #posts-list-container li .post-comments {
    width: 60%; }
    #posts-list-container li .post-comments input[type=text] {
      width: 40%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box; }
    #posts-list-container li .post-comments input[type=submit] {
      margin-left: 200px; }
  #posts-list-container li .post-comments-list h4 {
    margin-left: -400px; }
  #posts-list-container li .post-comments-list p {
    width: 40%;
    height: 10%;
    border: none;
    background-color: lightsalmon;
    margin-left: 150px; }
